#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

video#target {
    max-width: 1280px;
}

#videoCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
