#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#target {
    border-color: #1a1a1a;
    border-width: 2px;
    border-style: solid;
}

video {
    max-width: 1280px;
}
